<div class="mt-2 ">
    <h3 class="text-center">Welcome to <i><span class="text-primary">MDScore</span></i> swimming tournaments</h3>
    <hr class=" text-primary">
    <div class="row justify-content-center">
        <div class="col col-lg-8  text-center">
            <img style="max-height: 200px; max-width: 100%;" class="img-thumbnail rounded"
                src="https://images.pexels.com/photos/863988/pexels-photo-863988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>
    </div>
    <i>
        <h5 class="text-center">
            <a class="text-primay" href="/login">Login</a>
            if you have an account or
            <a class="text-primay" href="/register">Register</a>
            now.
        </h5>
    </i>
</div>